body {
  font-family: sans-serif;
  padding-top: 33px;
  width: 85vw;
  margin: 0 auto;
}

header h1 {
  margin: 0 0 0 15px;
}

header img {
  max-width: 50vw;
}

.logo {
  cursor: pointer;
}

hr {
  margin: 5px 0 5px 0;
}

#questionH {
  margin-top: 50px;
  color: red;
}

#answerH {
  color: green;
}

.draggable {
  width: 250px;
  height: 250px;
  overflow-y: hidden;
  overflow-x: hidden;
  font-size: 35px;
  color: white;
  text-align: center;
  margin: 0 .5vw;
  /*transition: all 0.25s linear;*/
  box-shadow: 2px 2px 2px rgba(0,0,0,0.15);
  border-radius: 5px;
  border: 1px rgba(225,225,225,0.60) solid;
}

.draggable .inside {
  position:absolute;
  width:100%;
  height:100%;
  background: white;
  border-radius: 5px;
}

.draggable p {
  position: absolute;
  left: 3%;
}

.draggable img {
  width: 100%;
  height: 100%;
  font-size: 35px;
  color: white;
  text-align: center;
}

.draggable:hover {
  /*transition: all 0.25s linear;*/
  /*box-shadow: 5px 5px 2px rgba(0,0,0,0.3);*/
}

.stats {
  width: 75px;
  height: 75px;
  background: white;
  border-radius: 10px;
  border: 1px #11b316 solid;
  overflow-y: hidden;
  overflow-x: hidden;
}

.stats:hover {
  background-color: rgba(255,69,0,0.8);
}

.stats:hover .attributeEmoji {
  display: none;
}

.stats:hover .attributeHoverExplanation {
  display: block;
}

.shipping.stats:hover .attributeHoverExplanation {
  display: block;
}

.shipping.stats:hover div {
  padding-top: 0;
  padding-left: 5px;
  text-align: left;
}

.stats div {
  font-size: 60px;
  margin-top:0px;
  margin-left: 5px;
}

.draggable.inside.is-pointer-down {
  background: #09F;
}

.draggable.inside.is-dragging {
  opacity: 0.7;
}

.mainImage {
  position: absolute;
  top: 15%;
  left: 10%;
  width: 75%;
  border-radius: 9px;
  transition: all 0.7s linear;
}

.draggable .dataPointUl ul {
  font-size: 18px;
  color:black;
  list-style:none;
  margin:0;
  padding:0;
}

.draggable .dataPointUl ul li:nth-of-type(1n+3) {
  display: none;
}

.draggable .dataPointUl ul li:nth-of-type(2) {
  color: red;
}

.stats p {
  font-size: 40px;
}

.fa-expand{
  color:black;
}

.dataPointUl a {
  color:blue;
}

.dataPointUl a:hover{
  color:green;
}

h2 {
 text-align: center;
 font-size: 40px;
 margin: 40px 0 0 0;
}

.stats.shipping div {
   font-size: 30px;
   text-align: center;
   margin: auto;
   padding-top: 15%;
   top: 29%;
}

.stats .attributeHoverExplanation, .stats.shipping .attributeHoverExplanation {
  font-size: 15px;
  position: absolute;
  top: 20%;
  left: 0;
  color: white;
  display: none;
}

.mainProduct {
  position: absolute;
  top: 10px;
  left: 30%;
}

.handle.fa.fa-expand {
  font-size: 34px;
}

#FrtsVgtbls .inside img {
  margin-top: 40px;
}

#placeHolder {
  width: 40%;
  border-radius: 15px;
  display: none;
}

#turnTableClickMe {
  position: relative;
  top: 100px;
  font-size: 60px;
  color: white;
  text-shadow: -1px -1px 0 green, 1px -1px 0 green, -1px 1px 0 green, 1px 1px 0 green;
}

.turntable ul li img {
  width: 100% !important;
  border-radius: 15px;
}

.mediaTile.turntable ul li img {
  width: 300px !important;
  border-radius: 15px;
}

.turntable ul {
  height: 430px;
  padding: 0px;
  padding-bottom: 45px !important;
  margin: 0px;
  width: 500px;
}

.mediaTile.turntable ul {
  height: 430px;
  padding: 0px;
  padding-bottom: 45px !important;
  margin: 0px;
  width: 100%;
}

.turntable ul li {
  list-style-type: none;
  display: none;
}

.turntable ul li img {
  width: 100%;
}

.turntable ul li.active {
  display: block;
}

.turntable ul li img {
  -moz-animation-duration: 3.0s;
  -webkit-animation-duration: 3.0s;
  -moz-animation-name: changeShadowLarge;
  -webkit-animation-name: changeShadowLarge;
  -moz-animation-iteration-count: infinite;
  -webkit-animation-iteration-count: infinite;
}

#placeHolderImage {
  width: 100%;
  border-radius: 15px;
  display: none;
  visibility: hidden;
}

#loadingIcon {
  width: 20%;
  top: 34%;
  left: 38.5%;
  position: absolute;
  visibility: hidden;
}

.mediaTile .loadingIcon {
  width: 35%;
  top: 0%;
  left: 31.5%;
  position: absolute;
  visibility: hidden;
}

.turntable .icon {
  display: none;
  position: absolute;
  top: -2%;
  height: 80%;
  left: -5%;
}

section {
  display: inline-block;
  margin-top: 120px;
}

section ul li {
  margin-top: 10px;
}

section h2 ul li {
  font-size: 1.6em;
}

section p {
  position: relative;
}

ul h3 {
  font-size: 20px;
  margin: 0;
  text-decoration: underline;
}

#constructionAreaContainer {
  margin-top: 300px;
  margin-bottom: 370px;
}

.constructionArea {
  display: inline-block;
  background-color: rgba(100,100,100,0.4);
  border: 3px rgba(0, 153, 0, 1) solid;
  border-radius: 15px;
  margin: 50px 0 0 0;
  width: 200px;
  height: 400px;
  text-align: center;
  position:relative;
  animation-duration: 3.0s;
  animation-name: changeShadow;
  animation-iteration-count: infinite;
}

.constructionArea p {
  position: absolute;
  font-size: 26px;
  top: 40%;
  left: 50%;
  transform: translate(-50%,-50%);
  width: 150px;
}

.constructionArea img {
  display: none;
  max-height: 100%;
  max-width: 100%;
  border-radius: 12px;
  border: 3px rgba(0, 153, 0, 1) solid;
}

.gameTile {
  width: 120px;
  height: 240px;
  font-size: 26px;
  text-shadow:
  -1px -1px 0 #000,
  1px -1px 0 #000,
  -1px 1px 0 #000,
  1px 1px 0 #000;
}

#inTheBox {
  display: inline-block;
  float: right;
  font-size: 1.5em;
  font-weight: bold;
  width: 70%;
  /*height: 400px;*/
  z-index:-1;
}

#inTheBox p, #extraMaterialsTileContainer p {
  margin: 20px 0px;
  text-align: center;
}

#inTheBoxTileContainer {

}

#extraMaterialsTileContainer {

}

#extraMaterials {
  text-align: center;
  display: inline-block;
  float:right;
  margin: -120px auto;
  font-size: 1.5em;
  font-weight: bold;
  width: 65%;
  /*height: 400px;*/
  /*border: 1px solid lime;*/
  z-index:-1;
}

.mediaTile {
  position:relative;
  width: 100%;
  height: 600px;
}

#mailChimp {
  border: 2px dotted green;
  width: 60%;
  padding: 0 5px 5px 5px;
  margin: 35px auto;
  margin-top: 250px;
  text-align: center;
}

#mailChimpHeading {
   font-size: 36px;
   margin: 40px 0 0 18px;
}

#mc_embed_signup #mailChimpStickers {
   font-size: 36px;
   text-align: center;
}

#mc_embed_signup {
  background:#fff;
  clear:left;
  font:14px Helvetica, Arial, sans-serif;
}

#mc_embed_signup .button {
  background-color: #359804 !important;
}

#mc_embed_signup .clear {
  display: block !important;
}

#section2 {
  width: 100%;
  margin-top: 10px;
  text-align: center;
}

#section2Heading {
  margin-top: 250px;
  margin-bottom: 20px;
}

#mediaGalleryContainer img {
  height: 80%;
  margin: 15px;
  border-radius: 5px;
}

#mediaGalleryContainer .turntable img{
  height: 68%;
  margin: 15px;
  border-radius: 5px;
}

#mediaGalleryContainer p {
  margin-bottom: 20px;
  margin-left: 20px;
}

.mediaTileTextHeading {
  font-size: 30px;
}

#mediaGalleryContainer .mediaTileTextContainer {
  text-align: left;
}

#mediaGalleryContainer .mediaTileTextTitleImage {
  width: 440px;
  height: 300px;
}

#mediaGalleryContainer .mediaTileTextEndImage {
  width: 440px;
  height: 300px;
  margin: 30px auto;
}

#mediaGalleryContainer .mediaTileTextDescription {
  width: 70%;
  margin: 20px auto;
  text-align: left;
}

#mediaGalleryContainer .mediaTileTextPartsList{
  text-align: left;
  margin: 0 auto;
  width: 70%;
  list-style-type: none;
  margin-bottom: 20px;
}

.mediaTileText {
  overflow: hidden;
  height: 1000px;
}

.instructionsUnit {
  position: relative;
  width: 50%;
  margin: 0 auto;
}

.instructionsUnit img {
  width:100%;
}

.mediaTileText .readMore {
  position: absolute;
  text-align: center;
  left: 51%;
  transform: translate(-50%, -50%);
  width: 17.5%;
  height: 45px;
  line-height: 47px;
  border-radius: 15px;
  background-color: white;
  color: black;
  font-size: 28px;
  -moz-animation-duration: 4.0s;
  -webkit-animation-duration: 4.0s;
  -moz-animation-name: changeShadowGreenToOrange;
  -webkit-animation-name: changeShadowGreenToOrange;
  -moz-animation-iteration-count: infinite;
  -webkit-animation-iteration-count: infinite;
  cursor: pointer;
}

.bottomBlur{
  z-index: 99;
  position: relative;
  height: 198px;
  filter: blur(100px);
  -webkit-filter: blur(100px);
  -moz-filter: blur(100px);
  -o-filter: blur(100px);
  -ms-filter: blur(100px);
  background-color: rgba(255,255,255,1);
}

#subscribeBanner {
  display: none;
  position: fixed;
  top: 0;
  right: 0;
  width: 400px;
  height: 100px;
  text-align: center;
  cursor: pointer;
}

.bannerCloseButton {
  position: absolute;
  top: -80px;
  right: -135px;
  font-size: 100px;
}

#subscribeBannerText {
  margin: 10px 170px 0;
  width: 50%;
}

.rainbow-wordmark {
  position: absolute;
  left: 0;
  top: 0;
}

.rainbow-wordmark__canvas {
  position: absolute;
  left: 0;
  top: 0;
  width:133.3%;
}

.rainbow-wordmark__image {
  display: block;
  width: 100%;
  position: relative;
}

/* Portrait and Landscape Mobile*/
@media only screen
  and (min-device-width: 200px)
  and (max-device-width: 800px) {

  body {
    padding-top: 100px;
  }

  header img {
    max-width: 85vw;
  }

  header h1 {
    font-size: 80px;
  }

  .handle.fa.fa-expand {
    width: 100%;
    font-size: 60px;
  }

  .turntable {
    margin: 40px 0 0 0 !important;
  }

  .turntable ul li img {
    width: 100% !important;
  }

  .turntable .icon {
    display: block;
  }

  #placeHolderImage {
    width: 100%;
  }

  #mediaGalleryContainer .turntable img {
    width: 70%;
    height: auto;
    margin-bottom: 125px;
  }

  .mediaTile {
    margin-top: 200px;
    padding-bottom: 300px;
  }

  .mediaTile .loadingIcon {
    left: 12.5%;
  }

  .mediaTile p {
    font-size: 60px;
    padding: 0 100px;
  }

  #loadingIcon {
    width: 100%;
    top: -20%;
    left: 0;
  }

  #turnTableClickMe {
    display: none;
  }

  #turntableInfo {
    text-align: center;
    font-size: 50px;
  }

  #constructionArea {
    width: 400px;
    height: 800px;
    margin: 20px;
  }

  #constructionArea div {
    font-size: 170px;
    width: 90%;
  }

  #constructionAreaHeading {
    font-size: 80px;
    margin-top: 50px;
    margin-bottom: 40px;
  }

  #constructionAreaHeading hr {
    margin: 60px;
  }

  #inTheBox, #extraMaterials {
    width: 40%;
  }

  .gameTile {
    width: 300px;
    height: 600px;
    margin: 20px;
    font-size: 70px;
    border:
    text-shadow:
    -1px -1px 0 #000,
    1px -1px 0 #000,
    -1px 1px 0 #000,
    1px 1px 0 #000;
  }

  section h2 ul li {
    font-size: 1.6em;
  }

  #buyLink {
    text-align: center;
    background-color: green;
    border-radius: 10px;
    width: 100%;
    font-size: 80px;
  }

  #buyLink a {
    color: white;
  }

  #questionH {
    color: red;
    font-size: 90px;
  }

  #answerH {
    color: green;
    font-size: 90px;
  }

  section ul li {
    margin-top: 100px;
    font-size: 75px;
  }

  section h2 {
    font-size: 80px;
  }

  #firstColumn {
    width:100%;
    margin-left: 5vw;
  }

  #secondColumn {
    width:100%;
    margin-left: 5vw;
  }

  ul h3 {
    font-size: 120px;
    margin: 0;
    text-decoration: underline;
    margin-top: 55px;
  }

  #firstColumn ul li, #secondColumn ul li  {
    margin-top: 10px;
    font-size:75px;
  }

  #inTheBox p {
    font-size: 65px;
    padding-left: 5px;
    margin-top: 20px;
  }

  #extraMaterials {
    display: table-cell;
    margin: 0;
    padding: 0;
    padding-left: 30vw;
  }

  #extraMaterials p {
    font-size: 65px;
    padding-left: 30px;
    margin: 20px 0 0 0;
  }

  #mailChimp {
    width: 95%;
    margin-top: 50px;
  }

  #mailChimpHeading {
    font-size: 90px;
  }

  #mc_embed_signup {
    font-size: 40px;
  }

  #mc_embed_signup #mailChimpStickers {
    font-size: 90px;
  }

  .constructionArea p {
    position: absolute;
    font-size: 140px;
    top: 30%;
    left: 29%;
    transform: translate(-50%,-50%);
    width: 150px;
  }

  .mediaTile.turntable ul {
    height: 175%;
  }

  .mediaTile.turntable img.icon {
    width: 50% !important;
    top: 25%;
    left: 20%;
  }

  .mediaTile.turntable ul li img {
    width: 70% !important;
  }

  .mobileFix {
    overflow:hidden !important;
    overflow-y:hidden !important;
    overflow-x:hidden !important;
  }

  .mediaTileText {
    margin-bottom: 400px;
    padding-bottom: 400px;
  }

  .mediaTileTextHeading {
    font-size: 80px;
  }

  #mediaGalleryContainer .mediaTileTextTitleImage {
    width: 800px;
    height: 600px;
  }

  #mediaGalleryContainer .mediaTileTextDescription {
    width: 90%;
    margin: 100px 0px;
    text-align: left;
    padding-left: 25px;
  }

  #mediaGalleryContainer .mediaTileTextPartsList {
    width: 90%;
    font-size: 60px;
    margin-bottom: 100px;
  }

  #mediaGalleryContainer .mediaTileTextPartsList li {
    margin-top: 30px;
    font-size: 60px;
  }

  .mediaTileText .readMore {
    width: 45%;
    height: 130px;
    line-height: 130px;
    font-size: 70px;
  }

  .bottomBlur{
    height: 900px;
  }

  #mediaGalleryContainer .mediaTileTextEndImage {
    width: 700px;
    height: 500px;
    margin: 30px auto;
  }

  .instructionsUnit {
    width: 100%;
  }

  .mediaTile p {
    padding: 0 30px;
  }

  #subscribeBanner {
    position: fixed;
    top: inherit;
    left: inherit;
    bottom: 0 !important;
    right: 0 !important;
    width: 1000px;
    height: 340px;
    text-align: center;
  }

  .rainbow-wordmark {
    left: 0;
    bottom: 0;
  }

  #subscribeBannerText {
    margin: 10px 100px 0;
    width: 69%;
  }

  .rainbow-wordmark__canvas {
    position: absolute;
    left: 0;
    top: 0;
    width: 133.3%;
  }

  .rainbow-wordmark__image {
    display: block;
    width: 100%;
    position: relative;
  }




}

@-webkit-keyframes changeShadow{
  0%{
    border: 1px solid white;
    box-shadow: 0px 0px 20px white;
    color: white;
  }

  50% {
    border: 1px solid rgb( 35, 148, 25);
    box-shadow: 0px 0px 20px rgb( 35, 148, 25);
    color: rgb( 35, 148, 25);
  }

  100%{
    border: 1px solid white;
    box-shadow: 0px 0px 20px white;
    color: white;
  }

}

@-webkit-keyframes changeShadowLarge{
    0%{
      border: 1px solid white;
      box-shadow: 0px 0px 20px white;
      color: white;
    }

    50% {
      border: 1px solid rgb( 35, 148, 25);
      box-shadow: 0px 0px 150px rgb( 35, 148, 25);
      color: rgb( 35, 148, 25);
    }

    100%{
      border: 1px solid white;
      box-shadow: 0px 0px 20px white;
      color: white;
    }
  }

  @-webkit-keyframes changeShadowGreenToOrange{
    0%{
      border: 1px solid white;
      box-shadow: 0px 0px 20px white;
      color: rgb(255,153,0);
    }

    50% {
      border: 1px solid rgb( 35, 148, 25);
      box-shadow: 0px 0px 20px rgb( 35, 148, 25);
      color: rgb( 35, 148, 25);
    }

    100%{
      border: 1px solid white;
      box-shadow: 0px 0px 20px white;
      color: rgb(255,153,0);
    }

  }
